@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

html,
body {
  margin: 0;
}

html,
body,
button,
center {
  font-family: "Quicksand", sans-serif;
}

.Key {
  height: 6vh;
  border-radius: 10%;
  margin: 0.5%;
  position: relative;
  border: 3px solid #d0d3d4;
  font-size: 15px;
  outline: none;
}

.Keyboard {
  margin: auto;
  width: 90%;
  height: 30vh;
  top: 50vh;
  padding: 1%;
  position: relative;
}

.Keyboard .row {
  width: 100%;
  display: flex;
  position: relative;
}

.Typing {
  min-height: 100vh;
}

.btn-begin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-begin > span.countdown {
  top: 35px;
  position: absolute;
  color: #e74c3c;
  font-size: 25px;
}

.btn-begin > span.timer {
  top: 35px;
  position: absolute;
  color: #7f8c8d;
  font-size: 20px;
}

.btn-begin button {
  z-index: 99;
  width: 40px;
  height: 40px;
  top: 35px;
  border-radius: 50%;
  position: absolute;
  color: white;
  background-color: #e74c3c;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.btn-begin > button:hover {
  background-color: #f5b7b1;
}

.BibleVerse {
  position: absolute;
  top: 7vh;
  width: 80%;
  padding: 30px;
  line-height: 2;
  font-size: 20px;
}

span#typed {
  color: #000000;
}

span#untyped {
  color: #aaaaaa;
}

.btn-group-bible {
  padding: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn-group-bible .btn-testament {
  position: relative;
  top: -10vh;
  margin: 5vw;
  width: 30vw;
  height: 30vh;
  background-color: #5d6d7e;
  box-shadow: 5px 5px #273746;
  border: none;
  font-size: 3vh;
  color: white;
  outline: none;
}

.btn-group-bible .btn-testament:hover {
  background-color: #f8c471;
  box-shadow: 5px 5px #273746;
  color: #5d6d7e;
  cursor: pointer;
}

.btn-group-bible .btn-book,
.btn-chapter {
  margin: 2vw;
  width: 25vw;
  height: 7vh;
  background-color: #5d6d7e;
  box-shadow: 5px 5px #273746;
  border: none;
  font-size: 2.5vh;
  color: white;
  outline: none;
}

.btn-group-bible .btn-book:hover {
  background-color: #aed6f1;
  box-shadow: 5px 5px #273746;
  color: #5d6d7e;
  cursor: pointer;
}

.btn-group-bible .btn-chapter:hover {
  background-color: #f1948a;
  box-shadow: 5px 5px #273746;
  color: #5d6d7e;
  cursor: pointer;
}

.btn-group-verses {
  padding: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  outline: none;
}

.btn-group-verses .verse-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group-verses .verse-wrap p {
  width: 80vw;
  padding: 20px;
}

.btn-group-verses .verse-wrap .btn-verse {
  height: 5vh;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #5d6d7e;
  box-shadow: 5px 5px #273746;
  color: white;
  outline: none;
}

.btn-group-verses .verse-wrap .btn-verse:hover {
  background-color: #58d68d;
  color: #5d6d7e;
}

.verse-wrap link {
  text-decoration: none;
}

.verse-info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 30px;
  color: #616a6b;
}

.btn-back {
  position: absolute;
  top: 25px;
  right: 30px;
  color: #616a6b;
}

#btn-hint {
  position: absolute;
  top: 48vh;
  left: 5vw;
  color: #d4ac0d;
  border-radius: 50%;
}

#btn-highlight {
  position: absolute;
  top: 48vh;
  right: 7vw;
  font-size: 5px;
  color: #777777;
}

#img-hands {
  width: 300px;
}

#tooltip-hint {
  background-color: white;
}

footer {
  width: 100%;
  padding: 5px;
  top: -28px;
  position: relative;
  text-align: center;
  font-size: 15px;
  color: #777777;
  background-color: black;
}
